.navbar {
    float: left;
}
.head img {
  margin: 20px;
  width: 10%;
}
.me img {
  float: left;
  margin-left: 30px;
  width: 20%;

}
.me h1,h5 {
  float: right;
  font-size: 40px;
}
.container {
  position: relative;
}

.contact a {
font-size: 50px;
 color: white;
 background-color: maroon;
 border-radius: 20px;
 padding: 10px;



}
.text-block {
  position: absolute;
  bottom: 10%;
  right: 20%;
  left: 20%;
  background-color: white;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
}
.carousel 
{
  width: 50%;
}
.carousel-caption
{
  background-color: rgba(0, 0, 0, 0.5);
}
.card-body p {
  font-size: 1ppx;
}
.terms {
  padding: 20px;
  color: white;
  margin-top: 5%;
 margin-left: 10%;
 margin-right: 10%;
  background-color: rgba(0, 0, 0, 0.5);
}
.about h4{
  background-color: rgba(0, 0, 0, 0.5);
padding: 10%;
color: white;

}
.vid video{
  width: 1000px;
  


}
@media screen and (max-width: 600px)
{
.navbar {
    float: left;
}
.head img {
  margin: 20px;
  width: 10%;
}
.me img {
  float: left;
  margin-left: 30px;
  width: 20%;

}
.me h1,h5 {
  float: right;
  font-size: 40px;
}
.container {
  position: relative;
}


.text-block {
  font-size: 30%;
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 1%;
  right: 20%;
  top: 45%;
  color: white;
  bottom: ;
  border-radius: 20px;
}
.carousel 
{
  width: 100%;
}
.carousel-caption
{
  background-color: rgba(0, 0, 0, 0.5);
  width: 10%;
}
.card-body p {
  font-size: 1ppx;
}
.terms {
  padding: 20px;
  color: white;
  margin-top: 5%;
 margin-left: 10%;
 margin-right: 10%;
  background-color: rgba(0, 0, 0, 0.5);

} 
.about h4{
  background-color: rgba(0, 0, 0, 0.5);
padding: 10%;
}
.contact a {

font-size: 20px;
}
.vid video{
  width: 100%;
  


}

}
